/* =============================
   Contact.css
   ============================= */

.contact-hero {
  background-color: #111;
  border-bottom: 1px solid #222;
}

.form-control:focus {
  border-color: #333;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
}

.btn-dark:hover {
  background-color: #333;
  border-color: #333;
}